RewriteEngine On
RewriteBase /emsdemo/View/

RewriteRule ^index/?$ index.php [NC]
#      Master  Pages Splaces

RewriteRule ^Logout/?$ LogOut.php [NC]
RewriteRule ^Login/?$ Login.php [NC]
RewriteRule ^admin/?$ DeshBoard.php [NC]
RewriteRule ^empsrch/?$ employee_serach.php [NC]
RewriteRule ^MsCli/?$ new_client_master.php [NC]
RewriteRule ^MsRefData/?$ ref_master_data.php [NC]
RewriteRule ^MsAtndUp/?$ Attendence_upload.php [NC]
RewriteRule ^MsClientRefData/?$ client_ref_master.php [NC]
RewriteRule ^MsAprMaster/?$ Appraisal_Master.php [NC]
RewriteRule ^MsDesg/?$ Designation_master.php [NC]
RewriteRule ^MsDept/?$ department_master.php [NC]
RewriteRule ^MsProc/?$ process_master.php [NC]
RewriteRule ^MsSProc/?$ subprocess_master.php [NC]
RewriteRule ^MsAcc/?$ account_master.php [NC]
RewriteRule ^MsAnnounce/?$ announcement_master.php [NC]
RewriteRule ^MsUpdates/?$ updates_master.php [NC]
RewriteRule ^MsIssue/?$ issue_master.php [NC]
RewriteRule ^MsInfo/?$ loginfo.php [NC]
RewriteRule ^MsRef/?$ ref_master.php [NC]
RewriteRule ^MsConsult/?$ consultancy_master.php [NC]
RewriteRule ^MngConsult/?$ manage_consultancy.php [NC]
RewriteRule ^rptConsult/?$ rpt_consultancy.php [NC]
RewriteRule ^UpPer/?$ upload_performance.php [NC]
RewriteRule ^UpPerM/?$ upload_perform_manual.php [NC]
RewriteRule ^UpRos/?$ upload_roster.php [NC]
RewriteRule ^UpAtnd/?$ upload_attendance.php [NC]
RewriteRule ^UpBIO/?$ upload_bio.php [NC]
RewriteRule ^UpIOS/?$ upload_ios.php [NC]
RewriteRule ^UpPaid/?$ upload_PaidLeave.php [NC]
RewriteRule ^Tdesh/?$ rpt_Training_DashBoard.php [NC]
RewriteRule ^qms/?$ qms.php [NC]
RewriteRule ^hybrid_report/?$ download_hybrid_report.php [NC]
RewriteRule ^palert/?$ profilealert.php [NC]
RewriteRule ^pftracker/?$ profile_tracker.php [NC]

RewriteRule ^ChPer/?$ check_performance.php [NC]
RewriteRule ^empadd/?$ add_personal.php [NC]
RewriteRule ^empsave/?$ save_personal.php [NC]
RewriteRule ^salemp/?$ save_salary.php [NC]
RewriteRule ^address/?$ save_address.php [NC]
RewriteRule ^contact/?$ save_contact.php [NC]
RewriteRule ^document/?$ save_document.php [NC]
RewriteRule ^testDocument/?$ save_test.php [NC]
RewriteRule ^education/?$ save_education.php [NC]
RewriteRule ^experience/?$ save_experience.php [NC]
RewriteRule ^bankdetails/?$ save_bank.php [NC]
RewriteRule ^infradetails/?$ save_infra.php [NC]
RewriteRule ^exitemp/?$ exit_emp.php [NC]
RewriteRule ^empcycle/?$ rpt_cycle.php [NC]


RewriteRule ^mapemp/?$ save_employeemap.php [NC]
RewriteRule ^chngpwd/?$ changepwd.php [NC]
RewriteRule ^ah/?$ Map_account.php [NC]
RewriteRule ^oh/?$ oh_check.php [NC]
RewriteRule ^th/?$ th_check.php [NC]
RewriteRule ^td/?$ daily_tracking_tr.php [NC]
RewriteRule ^afterth/?$ th_after.php [NC]
RewriteRule ^qh/?$ qh_check.php [NC]
RewriteRule ^tr/?$ tr_check.php [NC]
RewriteRule ^qa/?$ qa_check.php [NC]
RewriteRule ^afterqh/?$ qh_after.php [NC]
RewriteRule ^overth/?$ tr_over.php [NC]
RewriteRule ^qd/?$ daily_tracking_qa.php [NC]
RewriteRule ^overqa/?$ qa_over.php [NC]
RewriteRule ^logth/?$ daily_tracking_th.php [NC]
RewriteRule ^logqh/?$ daily_tracking_qh.php [NC]
RewriteRule ^extth/?$ th_check_Extend.php [NC]




RewriteRule ^info/?$ EmployeInfo.php [NC]
#RewriteRule ^info/?$ EmployeInfo3.php [NC]
RewriteRule ^viewleave/?$ viewleave.php [NC]
RewriteRule ^addleave/?$ add_leave.php [NC]
RewriteRule ^addleave1/?$ add_leave_new.php [NC]
RewriteRule ^query/?$ query.php [NC]
RewriteRule ^viewquery/?$ viewquery.php [NC]
RewriteRule ^reqview/?$ reqquery.php [NC]
RewriteRule ^addissue/?$ add_issue.php [NC]
RewriteRule ^viewissue/?$ view_issue.php [NC]
RewriteRule ^chgsec/?$ check_security.php [NC]



RewriteRule ^atnd/?$ view_BioMetric_one.php [NC]
RewriteRule ^atnd1/?$ view_BioMetric_one_Apr.php [NC]
RewriteRule ^addReq/?$ addRequest.php [NC]
RewriteRule ^addReq1/?$ addRequest_Split.php [NC]
RewriteRule ^addDwt/?$ downtime.php [NC]
RewriteRule ^patnd/?$ view_payroll_atnd.php [NC]
RewriteRule ^salary/?$ view_salary_details.php [NC]

RewriteRule ^lqh/?$ qh_listing.php [NC]
RewriteRule ^ohr/?$ oh_reporting.php [NC]
RewriteRule ^thr/?$ th_reporting.php [NC]
RewriteRule ^qhr/?$ qh_reporting.php [NC]

RewriteRule ^covidAckReport/?$ rpt_covidAck.php [NC]
RewriteRule ^TestReport/?$ rpt_TestVersant.php [NC]
RewriteRule ^bgvReport/?$ rptBGV.php [NC]
RewriteRule ^dt_rpt/?$ rpt_DownTime.php [NC]
RewriteRule ^rs_rpt/?$ rpt_Roster.php [NC]
RewriteRule ^rs_apr/?$ rpt_Apr.php [NC]
RewriteRule ^rs_raw_apr/?$ rpt_AprReport.php [NC]
RewriteRule ^ex_rpt/?$ rpt_Exception.php [NC]
RewriteRule ^ex_lh/?$ rpt_Leave.php [NC]
RewriteRule ^rpt_sp_ex/?$ spl_rpt_Exception.php [NC]
RewriteRule ^rpt_sp_dt/?$ spl_rpt_DownTime.php [NC]
RewriteRule ^rpt_sp_rt/?$ spl_rpt_roster.php [NC]
RewriteRule ^rpt_at/?$ rpt_Atnd.php [NC]
RewriteRule ^tm_at/?$ team_atnd.php [NC]
RewriteRule ^cosmoid/?$ cosmoid_manage.php [NC]
RewriteRule ^up_cosmo_raw/?$ upload_cosmo_raw_apr.php [NC]

RewriteRule ^rpt_appoint/?$ rpt_appointment.php [NC]
RewriteRule ^lg_rpt/?$ rpt_LoginEMS.php [NC]
RewriteRule ^rs_pr_rpt/?$ rpt_WeekOffPref.php [NC]
RewriteRule ^rpt_pr_rpt/?$ rpt_wop_for_rpt.php [NC]

## Resign Module 

RewriteRule ^rsg_req/?$ resign_module.php [NC]
RewriteRule ^rsg_acc/?$ resign_module_hr_accept.php [NC]
RewriteRule ^rsg_hr/?$ resign_module_hr.php [NC]
RewriteRule ^rsg_ah/?$ resign_module_ah.php [NC]
RewriteRule ^rsg_oh/?$ resign_module_oh.php [NC]
RewriteRule ^rsg_it/?$ resign_module_it.php [NC]
RewriteRule ^rsg_sh/?$ resign_module_sitehead.php [NC]
RewriteRule ^rsg_admin/?$ resign_module_administrator.php [NC]
RewriteRule ^can_rsg/?$ resign_cancel.php [NC]
RewriteRule ^can_rsg_hr/?$ resign_cancel_hr.php [NC]


## NCNS Module
RewriteRule ^ncns_req/?$ rpt_NCNS.php [NC]
RewriteRule ^ncns_acc/?$ rpt_NCNS_Request.php [NC]

## Movement Pages :: Tranfer Module

RewriteRule ^ctc/?$ client_to_clent_move.php [NC]
RewriteRule ^oto/?$ ohtooh-movement.php [NC]
RewriteRule ^ato/?$ transfer_AH_to_OH.php [NC]
RewriteRule ^cth/?$ transfer_client_to_hr.php [NC]


RewriteRule ^rsn_rejoin_accept/?$ rejoin-ahApproved.php [NC]
RewriteRule ^rsn_rejoin/?$ rejoin-emp.php [NC]

RewriteRule ^ah_wt/?$ irtermination_ah.php [NC]
RewriteRule ^hr_wt/?$ irtermination_hr.php [NC]
RewriteRule ^wt_rpt/?$ irtermination_report.php [NC]
RewriteRule ^wt_doc/?$ Document_Details.php [NC]

## Emplyoee Profile updation Pages :: Request and Approve

RewriteRule ^bankRequest/?$ bank_detail_update.php [NC]
RewriteRule ^AcceptBankRequest/?$ bank_Request_list.php [NC]
RewriteRule ^AcceptEDuRequest/?$ education_Request_list.php [NC]
RewriteRule ^eduRequest/?$ education_detail_update.php [NC]
RewriteRule ^mStatusRequest/?$ marital_status_update.php [NC]
RewriteRule ^addressRequest/?$ address_detail_update.php [NC]
RewriteRule ^AcceptAddRequest/?$ address_Request_list.php [NC]
RewriteRule ^ApproveMaritalStatus/?$ marital_Request_list.php [NC]

RewriteRule ^SalEmpV/?$ save_salary_va.php [NC]
RewriteRule ^SalEmpSU/?$ save_salary_su.php [NC]
RewriteRule ^SalEmpML/?$ save_salary_mglr.php [NC]
RewriteRule ^auto_rpt/?$ mis_auto_smsmail_report.php [NC]

RewriteRule ^CAP_Form/?$ correctiveActionForm.php [NC]
RewriteRule ^CAP_FormAR/?$ correctiveActionFormHead_HR.php [NC]
RewriteRule ^CAP_FormEmp/?$ correctiveActionForm_Emp.php [NC]

#RewriteRule index index.php
##Email and SMS
RewriteRule ^sentmessageack/?$ rpt_sentMessageAck.php [NC]
RewriteRule ^releivingexp/?$ rpt_releving_exp.php [NC]
RewriteRule ^termination/?$ rpt_termination.php [NC]
RewriteRule ^bdaymsg/?$ rptBdayMsg.php [NC]

RewriteRule ^ReportManager/?$ manage_report_module.php [NC]
RewriteRule ^rpt_exc_spl/?$ rpt_Exception_spl.php [NC]
RewriteRule ^rs_rpt_spl/?$ rpt_Roster_new.php [NC]
RewriteRule ^ex_lh_spl/?$ rpt_Leave_new.php [NC]
RewriteRule ^rpt_at_spl/?$ rpt_Atnd_new.php [NC]
RewriteRule ^dt_rpt_spl/?$ rpt_DownTime_new.php [NC]
RewriteRule ^rpt_ncns_spl/?$ rpt_NCNS_new.php [NC]

RewriteRule ^wmt/?$ welcome_mail_template.php [NC]
RewriteRule ^ReportData/?$ rpt_dynmc.php [NC]
RewriteRule ^upConslt/?$ upload_consult_data.php [NC]
RewriteRule ^updatestat/?$ manage_consultancy_candidate.php [NC]
RewriteRule ^rpt_cref/?$ rpt_consult_ref.php [NC]
RewriteRule ^rpt_cmaster/?$ rpt_consult_master.php [NC]
RewriteRule ^module-master1/?$ module_master.php [NC]
RewriteRule ^module-master/?$ module_master_new.php [NC]
RewriteRule ^master-report/?$ module_master_report.php [NC]
RewriteRule ^qh_wt/?$ irtermination_qh.php [NC]

RewriteRule ^ctr/?$ change_trainer.php [NC]
RewriteRule ^cqa/?$ change_qa.php [NC]
RewriteRule ^coh/?$ change_oh.php [NC]

RewriteRule ^bgvReport-su/?$ rptBGV_bango.php [NC]
RewriteRule ^rygReport-su/?$ rpt_ryg_status_bango.php [NC]
RewriteRule ^issueReport-su/?$ rpt_Issue_bango.php [NC]

RewriteRule ^addReq2/?$ addRequest_new.php [NC]
RewriteRule ^rptVac/?$ rpt_vaccine.php [NC]

# RewriteRule ^bta_Mukesh/?$ batch_master_admin.php [NC]
# RewriteRule ^btr_Mukesh/?$ batch_master_report.php [NC]
# RewriteRule ^aib_Mukesh/?$ assign_int_batch.php [NC]
# RewriteRule ^irt_Mukesh/?$ interview_report.php [NC]
# RewriteRule ^dcn_Mukesh/?$ delink_candidate.php [NC]
# RewriteRule ^rpt_assign_Mukesh/?$ emp_assign.php [NC]
RewriteRule ^mcm/?$ manual_client_movement.php [NC]
RewriteRule ^WHL/?$ WHL-Policy.php [NC]
RewriteRule ^POSH/?$ posh_spoc.php [NC]
RewriteRule ^rpt_ab/?$ rpt_Absent2day.php [NC]
RewriteRule ^rpt_exit/?$ er_exitreport.php [NC]
RewriteRule ^rpt_erh2h/?$ er_h2hreport.php [NC]
RewriteRule ^rpt_res/?$ er_rpt_res.php [NC]
RewriteRule ^cp/?$ company_policy.php [NC]
RewriteRule ^ER/?$ er_spoc.php [NC]
RewriteRule ^vehicledetails/?$ save_vehicle.php [NC]
RewriteRule ^emplocation/?$ index_jiomap.php [NC]
RewriteRule ^emplocation1/?$ index_jiomap1.php [NC]
RewriteRule ^trnE/?$ transfer_emp.php [NC]
RewriteRule ^trnP/?$ transfer_report.php [NC]

RewriteRule ^salup/?$ salary_certificate_upload.php [NC]
RewriteRule ^salCert/?$ salary_certificate.php [NC]
RewriteRule ^salrpt/?$ salary_certificate_report.php [NC]
RewriteRule ^salms/?$ salary_master.php [NC]
RewriteRule ^sal-detail/?$ salary_emp.php [NC]
RewriteRule ^rel_manual/?$ releiving_experience_letter_manual.php [NC]

RewriteRule ^expense/?$ expenses.php [NC]
RewriteRule ^expense_review/?$ expense_reviewer.php [NC]
RewriteRule ^expense_approv/?$ expense_approver.php [NC]
RewriteRule ^expense_rpt/?$ expense_report.php [NC]

RewriteRule ^Ref_VH/?$ client_ref_VH.php [NC]
RewriteRule ^Ref_Master/?$ client_ref_master_VH.php [NC]
RewriteRule ^bgvdoc/?$ bgv_docsend.php [NC]
RewriteRule ^bgvrpt/?$ bgv_report.php [NC]
RewriteRule ^empbl/?$ emp_block.php [NC]
RewriteRule ^rpt_empbl/?$ rpt_emp_block.php [NC]

RewriteRule ^create_IJP/?$ ijp_creation.php [NC]
RewriteRule ^sch_ijp/?$ ijp_acknowledge_hr.php [NC]
RewriteRule ^ijp_rpt/?$ ijp_report.php [NC]
RewriteRule ^ijp_ack/?$ ijp_acknowledge.php [NC]
RewriteRule ^ijp_intro/?$ ijp_intro_acknowledge.php [NC]
RewriteRule ^ijp_actn/?$ ijp_action.php [NC]
RewriteRule ^hrinduction/?$ induction_hr.php [NC]
RewriteRule ^inductionReport/?$ induction_report.php [NC]